@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans";
    color: var(--Very-Light-Gray);
}

:root{
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Ligh-Grayish-Blue: hsl(234, 39%, 85%);
    --Ligh-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue-two: hsl(237, 14%, 26%);
    --todo-color: #25273c;
}


body{
    background-color: var(--Very-Dark-Blue);
    background-image: url("images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: grid;
    place-content: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
}


#Title-and-switch-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


h1{
    letter-spacing: 1rem;
}

#switchBtn{
    height: 26px;
}




.todo-box{
    background-color: var(--Very-Dark-Grayish-Blue-two);
    display: flex;
    justify-content: space-between;
    padding: 1.5vh 1vw;
}

.todo-box:has( + div){
    border-bottom: var(--Dark-Grayish-Blue) 0.5px solid;
}

.text-and-check{
    display: flex;
}

input[type ="checkbox"]{

    border: var(--Dark-Grayish-Blue )1px solid;
    width: 20px;
    height: 20px;
    margin-right: 20px;

}

input[type="checkbox" i] {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    appearance: none;
    align-self: center;
   
}

input[type="checkbox"]:checked{

    background-image: url('images/icon-check.svg');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    border: unset;

}

.bg-checked{
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    right: 40px;
    margin-right: -20px;
    z-index: 0;
    border-radius: 100%;
    background: rgb(107,188,243);
    background: linear-gradient(161deg, rgba(107,188,243,1) 0%, rgba(166,116,242,1) 100%);
    transition-delay: 250ms;
    transition-duration: 4s;
}

input[type="checkbox"]:checked  + .bg-checked{
    display: flex;
    transform: scale(2);
    
    transform: scale(1);
}

input[type = text]{
    background-color: unset;
}

input[type ="text" i]{
    border: none;
}

:focus-visible{
    outline-offset: unset;
    outline: unset;
}

